<tr>
    <td><abbr title="{{ contract.buyer.title }}">{{ contract.buyer.shortTitle }}</abbr></td>
    <td>
        {%- for seller in contract.sellers -%}
            <div>{{ seller.shortTitle | default: seller.title }}</div>
            <div class="text-sm text-gray-500">
                CUI
                <a href="https://www.confidas.ro/profil/{{ seller.fiscalCode }}/">{{ seller.fiscalCode }}</a>
            </div>
        {%- endfor -%}
    </td>
    <td>
        <div>{{ contract.startDate | date: "%d.%m.%Y" }} - {{ contract.endDate | date: "%d.%m.%Y" }}</div>
        <div class="text-sm text-gray-500">Semnat pe {{ contract.signingDate | date: "%d.%m.%Y" }}</div>
    </td>
    <td>
        {{ contract.name }}
    </td>
    <td>
        {%- for document in contract.documents %}
            {%- if document.title == "Contract" %}
                {%- include 'achizitii/_contract_item_document', document: document -%}
            {%- else -%}
                {%- include 'achizitii/_contract_item_annex', annex: document -%}
            {% endif %}
        {%- endfor -%}
    </td>
    <td class="text-right">{{ contract.value | currency }}</td>
</tr>