<tr>
    <td><abbr title="{{ contract.buyer.title }}">{{ contract.buyer.shortTitle }}</abbr></td>
    <td>
        <div>{{ contract.seller.shortTitle | default: contract.seller.title }}</div>
        <div class="text-sm text-gray-500">
            CUI
            <a href="https://www.confidas.ro/profil/{{ contract.seller.fiscalCode }}/">
                {{ contract.seller.fiscalCode }}
            </a>
        </div>
    </td>
    <td>
        <div>{{ contract.startDate | date: "%d.%m.%Y" }} - {{ contract.endDate | date: "%d.%m.%Y" }}</div>
        <div class="text-sm text-gray-500">Semnat pe {{ contract.signingDate | date: "%d.%m.%Y" }}</div>
    </td>
    <td>
        {{ contract.name }}
    </td>
    <td>
        <span class="px-2 inline-flex leading-5 bg-green-100 text-green-800">
            <a href="{{ contract.document.url }}" class="no-underline">Contract</a>
        </span>
    </td>
    <td class="text-right">{{ contract.value | currency }}</td>
</tr>