<!doctype html>
<html lang="en">
<head>
    <title>Primăria Sectorului 1 - {{ title | default: site.title }}</title>
    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover"/>
    <meta name="robots" content="follow, index"/>

    <meta name="description" content="{{ description | default: site.description }}"/>

    <link rel="canonical" href="https://data.primariasector1.ro{{ page.url }}"/>

    <link rel="stylesheet" href="/assets/css/screen.css"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png"/>

    {% include 'header/typography' %}

</head>
<body class="font-sans">

<div>
    <div class="bg-blue-900">
        <header class="container w-full max-w-6xl mx-auto px-8 py-6 border-b border-gray-300 border-opacity-40">
            {% include 'header/navbar' %}
        </header>

        <div class="container w-full max-w-6xl mx-auto px-8 py-10 text-white">
            <div>
                <h1 class="text-4xl font-bold mb-4">{{ title }}</h1>
                <p class="text-2xl">{{ description }}</p>
            </div>
        </div>
    </div>

    <div class="container w-full max-w-6xl mx-auto px-8 py-10">
        <div class="prose max-w-6xl">
            {{ content }}
        </div>
    </div>
</div>

</body>
</html>